body {
    background-color: rgb(22, 22, 22);
}

.name {
    margin-bottom:8px;
    display:block;
}

.email {
    display:block;
    margin-top:8px;
}

.p1 {
    display: inline-block;
    margin-right: 10px;
    width: 200px;
    color: white;
}

.n1 {
    background-color: rgb(255, 181, 181);
    margin-bottom: 20px;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.n2 {   
    background-color: rgb(186, 255, 186);
    margin-bottom: 20px;
    width: 40px;
    height: 30px;
    cursor: pointer;
}
.google {
    width: 180px;
    height:60px;
    margin-left:500px;

}
.googleinput {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    display: block;
    margin-left: 470px;
    margin-top: 10px;
    box-shadow: 3px 3px 5px rgb(85, 85, 85);
    padding-left: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    margin-bottom: 100px;
}
.i1, .i2 {
    display: inline-block;    
    margin-bottom: 10px;
    border-radius: 8px; 
    width: 120px;
    height: 35px;      
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 16px;
    font-size: 15px;
    font-family:  "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.i3 {
    display: block;   
    border-radius: 8px;    
    width: 120px;
    height: 35px;   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding-left: 16px;
    font-family:  "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal; 
}


.b {
    margin-top: 10px;   
    width: 286px;
    height: 44px;  
    background-color: blue;
    font-family:  "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;   
    font-size: 20px;
    color: white;
    border-radius: 8px;
}